<!-- <div class="border">
  <input type="text" #box1>
  <input class="mx-2" type="text" #box2 />
  <button class="btn btn-primary " (click)='addition(box1.value,box2.value)'>Add</button>
  <p>Addition Result is: {{addResult}}</p>
</div>
<div>
  <input type="number" [(ngModel)]="num" />
  <div>Entered value: {{num}}</div>
  <div>ordinal value: {{num | ordinal}}</div>
</div> -->

<!-- <app-folder-explorer></app-folder-explorer> -->
<!-- <app-material-demo></app-material-demo> -->
<!-- <app-counter></app-counter> -->

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <app-todo-list></app-todo-list>
    </div>
    <div class="col-sm-4">
      <app-add-todo></app-add-todo>
    </div>
  </div>
</div>